.wrapper {
    padding: 20px;
    width: 320px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 6px 16px;
}

.body {
    margin-top: 12px;
    color: #161823
}

.nickname {
    font-size: 1.8rem;
    font-weight: 600;
}

.check {
    margin-left: 8px;
    color: rgb(32, 213, 236)
}

.name {
    font-size: 1.4rem;
}

.analytics {
    font-size: 1.6rem;
    margin-top: 10px;
}

.value ~ .value{
    margin-left: 18px;
}

.label {
    color: #161823bf;
}

